body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Post:hover{
  background:rgb(222, 222, 222);
}

.postMenu {
  float: right;
}

.postContent {
  text-align: left;
  padding: 12px;
}

.postInfo {
  float: left;
  padding: 12px;
}

.postWrapper{
  display:flex;
}